/*############################*/
/*      Variables             */
/*############################*/
$gradient-stars-1: #1b2e42;
$gradient-stars-2: #0a0c0f;


/*############################*/
/*      Animations            */
/*############################*/
@keyframes animationStarsA {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-95vw);
    }
}

@keyframes animationStarsB {
    from {
        transform: translateX(95vw);
    }
    to {
        transform: translateX(0px);
    }
}


/*############################*/
/*      Stars Container       */
/*############################*/
@mixin starsTmp ($size, $speed, $animation) {
    width: $size;
    height: $size;
    background: transparent;
    animation: $animation $speed linear infinite;
}

#stars__1a {
    @include starsTmp(1px, 50s, animationStarsA)
}

#stars__1b {
    @include starsTmp(1px, 50s, animationStarsB)
}

#stars__2a {
    @include starsTmp(2px, 100s, animationStarsA)
}

#stars__2b {
    @include starsTmp(2px, 100s, animationStarsB)
}

#stars__3a {
    @include starsTmp(3px, 150s, animationStarsA)
}

#stars__3b {
    @include starsTmp(3px, 150s, animationStarsB)
}