/**
 * Portfolio Website
 * @author Onur Toycu
 */
@import "fonts";
@import "stars";


/*############################*/
/*      Variables             */
/*############################*/
$font-color-light: white;
$font-color-dark: black;

$nav-bg-color: rgba(40, 42, 50, 0.8);
$footer-bg-color: rgb(50, 52, 54);

$blue-light: rgb(55, 160, 220);
$blue: rgb(55, 125, 220);
$blue-dark: rgb(95, 115, 155);
$blue-grey: rgb(205, 215, 225);

$blockquote-bg-color: rgba(40, 132, 186, 0.2);

$gradient-dark-1: rgb(70, 104, 170);
$gradient-dark-2: rgb(40, 70, 128);
$gradient-light-1: rgb(170, 195, 220);
$gradient-light-2: rgb(160, 182, 204);
$gradient-warning-1: rgb(172, 86, 86);
$gradient-warning-2: rgb(160, 62, 62);
$gradient-success-1: rgb(170, 220, 177);
$gradient-success-2: rgb(160, 204, 160);

$box-shadow-dark: 0.75em 0.75em 1em 0 rgba(0, 0, 0, 0.4);
$box-shadow-light: 0.7em 0.7em 1em 0 rgba(0, 0, 0, 0.2);

$border-radius-link: 0.3em;
$border-radius-default: 0.5em;


/*############################*/
/*      Utility               */
/*############################*/
.hidden {
    display: none;
}


/*############################*/
/*      Common                */
/*############################*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: $font-color-light;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    background-color: white;
}

header {
    display: block;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
}

h1 {
    font-size: 2.7em;
    letter-spacing: 0.04em;
    margin-bottom: 0.9em;
}

h2 {
    font-size: 1.7em;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 1.4em;
    letter-spacing: 0.02em;
}

h4 {
    font-size: 1.2em;
    font-weight: 100;
}

p {
    font-size:1.1em;
    line-height: 1.4em;
}

a {
    color: white;
    text-decoration: none;
}

abbr {
    color: $font-color-light;
    text-decoration: none!important;
    background-color: $blue-light;
    padding: 0.5em 0.5em 0.3em;
    margin-bottom: 0.3em;
    border-radius: 0.8em;
    display: inline-block;
}


/*############################*/
/*      Buttons & Links       */
/*############################*/
.button {
    color: $font-color-light;
    background-color: $blue;
    padding: 0.4em 0.75em 0.3em;
    border-radius: $border-radius-link;
    margin: 0 0.1em;

    &:hover, &:active {
        background-color: $blue-light;
        transition: 0.7s;
    }

    &--large {
        font-size: 1.2em;
        padding: 1em 0.6em;
        margin: 0;
    }
}

.social-link {
    font-size: 2em;
    padding: 0 0.1em;

    &:hover, &:active {
        color: $blue-light;
        transition: 0.5s;
    }
}


/*############################*/
/*      Message Box           */
/*############################*/
.message {
    padding: 1.9em;
    width: 500px;
    margin: 2em auto 0;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-light;

    &--success {
        background: radial-gradient(circle at 20% 20%, $gradient-success-1 35%, $gradient-success-2 100%);
    }
    
    &--warning {
        background: radial-gradient(circle at 20% 20%, $gradient-warning-1 35%, $gradient-warning-2 100%);
    }
}


/*############################*/
/*      Flex                  */
/*############################*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    &--left {
        justify-content: flex-start;
    }
}

.flex__item {
    box-sizing: border-box;
    min-width: 360px;
    margin: 0px 1em 2em;

    &--grow {
        flex-grow: 1;
    }
}


/*############################*/
/*      Sections              */
/*############################*/
section {
    font-size: 1em;
    padding: 2.25em 5vw 4.75em;
    text-align: center;
}

.section {
    &--dark {
        background-color: $blue-dark;
        color: $font-color-light;
    
    }
    
    &--light {
        background-color:$blue-grey;
        color: $font-color-dark;

    }
}

.gradient {
    &--dark {
        border-radius: $border-radius-default;
        background: radial-gradient(circle at 20% 20%, $gradient-dark-1 35%, $gradient-dark-2 100%);
        box-shadow: $box-shadow-dark;
    }
    
    &--light {
        border-radius: $border-radius-default;
        background: radial-gradient(circle at 20% 20%, $gradient-light-1 35%, $gradient-light-2 100%);
        box-shadow: $box-shadow-light;
    }

    &--stars {
        background: radial-gradient(ellipse at bottom, $gradient-stars-1 0%, $gradient-stars-2 100%);
    }
}

.section__bg {
    overflow:hidden;
    position: absolute;
    color: rgba($blue-dark, 0.1);

    > i {
        font-size: 35em;
    }

    &--left {
        text-align: left;
        left: 1em;
    
        > i {
            transform: rotate(90deg);
        }
    }
    
    &--right {
        text-align: right;
        right: 2em;
        
        > i {
            transform: rotate(5deg);
        }
    }
}


/*############################*/
/*      Navigation            */
/*############################*/
#nav {
    font-size: 1.2em;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: $nav-bg-color;
}

.nav__menu {
    overflow: auto;
    margin: 0;
    padding: 0.45em 5vw 0.27em; 
    list-style-type: none;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    display: inline-block;
    padding: 0.4em 0.75em 0.3em;
    margin: 0.1em 0.25em 0.1em;
    border-radius: $border-radius-link;

    &:hover, &:active {
        background-color: $blue-light!important;
        transition: 0.7s;
    }

    &.active {
        background-color: $blue;
        transition: 0.7s;
    }

    &.inactive {
        background-color: transparent;
        transition: 0.5s;
    }
}

.nav__logo {
    flex-grow: 1;
    display: inline-block;
    
    img {
        height: 1.6em;
        width: 3.2em;
        filter: blur(0.5px);
    }

    > a {
        padding: 0.2em 0 0!important;
        line-height: 0;

        &:hover, &:active {
            background-color: transparent;
        }
    }
}

.nav__toggle {
    font-size: 1.7em;
    padding-top: 0.07em;
    display: none;
}

#nav-mobile {
    font-size: 1.2em;
    position: fixed;
    top: 2.85em;
    width: 100%;
    z-index: 7;
    background-color: $nav-bg-color;

    ul {
        overflow: auto;
        margin: 0;
        padding: 0.5em 0;
        list-style-type: none;
    }

    a {
        display: inline-block;
        padding: 0.5em 5vw;
        width: 100%;
        box-sizing: border-box;

        &:hover, &:active, &.active {
            background-color: $blue;
            transition: 0.7s;
        }
    }
}


/*############################*/
/*      Welcome Block         */
/*############################*/
#welcome-container {
    font-size: 1em;
}

#welcome {
    display: inline-block;
    width: 700px;
    text-align: center;
}

#welcome__foto {
    position: relative;
    top: 80px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

#welcome__text {
    text-align: left;
    border-radius: $border-radius-default;
    padding: 1.4em;
    background-color: $nav-bg-color;
    box-shadow: $box-shadow-dark;

    p {
        font-size: 1.2em;

        a {
            text-decoration-line: underline;
        }
    }
}


/*############################*/
/*      Skill Block           */
/*############################*/
.skill {
    width: calc(24vw - 2em - 10vw / 4);
    padding: 0.6em;

    > h2 {
        margin-top: 0.4em;
        margin-bottom: 0.7em;
    }

    > p {
        margin: 1.7em 1em 1em;
    }

    > i {
        font-size: 4em;
    }
}


/*############################*/
/*      Projects Block        */
/*############################*/
.proj {
    width: calc(26vw - 2em - 10vw / 4);
    padding: 1.6em 1em 1em;
}

.proj__title {
    font-size: 1.4em;
    letter-spacing: 0.02em;
    margin-top: 0em;
    margin-bottom: 1.2em;
}

.proj__desc {
    margin: 1.4em 1.2em 1em 1.5em;
    line-height: 1.4em;
}


/*############################*/
/*      Resume Block          */
/*############################*/
.resume {
    width: calc(24vw - 2em - 10vw / 4);
    text-align: left;
    padding: 1.25em;

    > h2 {
        margin-top: 0;
    }

    > ul {
        padding-left: 1.4em;
        border-left: 1px solid $blue-light;
        margin: 0 0 0 0.45em;
    }

    li {
        padding-bottom:2em;
        list-style-type: none;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }

        &::before {
            content: '⬤';
            color: $blue-light;
            position: absolute;
            left: -1.6em;
            top: -0.2em;
            font-size: 1.2em;
        }

        *:first-child {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
}

.resume__position {
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.13em;
}

.resume__company {
    font-size: 0.9em;
    margin: 0;
}

.resume__date {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0;
}


/*############################*/
/*      Contact Block         */
/*############################*/
#contact-form {
    width: 600px;
    padding: 1.9em;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding:0.6em;
    margin: 0 auto 1.2em;
    border: 2px solid transparent;
    border-radius: $border-radius-default;
    outline: none;
    background-color: white;

    &:hover {
        border: 2px solid $blue-light;
        transition: 0.5s;
    }
}


/*############################*/
/*      Footer Block          */
/*############################*/
footer {
    text-align: center;
    padding: 1em 5vw;
    background-color: $footer-bg-color;
}

#trademark {
    font-size: 0.9em;
    margin-top:0.6em;
}


/*############################*/
/*      Media Querys          */
/*############################*/
@media only screen and (max-width: 480px) {
    .section__bg--left {
        left: 2em;
        margin-top: -1em;

        > i {
            font-size: 20em;
            transform: rotate(90deg);
        }
    }
}

@media only screen and (max-width: 768px) {
    #welcome__foto {
        top: 50px;
    }

    .nav__menu li + li {
        display: none;
    }

    .nav__menu li:last-child {
        display: block;
    }

    .section__bg--left {
        display:none;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 1200px) {
    .section__bg--right {
        display:none;
    }
}

@media only screen and (max-width: 1400px) {}

@media only screen and (min-width: 1401px) {}